<li class='dd-item dd-collapsed'>
  <div class = 'dd3-content'>
    <div class = 'box'>
      <%= link_to niche.name, niche %>
      <%= link_to 'Edit', edit_niche_path(niche) %>
      <%= link_to 'Destroy', niche_path(niche.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>