<div class="menu">
  <ul class="list">
    <li class="active">
      <a href="index.html">
        <i class="material-icons">home</i>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="/">
        <i class="material-icons">widgets</i>
        <span>Items</span>
      </a>
    </li>
    <li class="header"></li>
    <li>
      <a href="/">
        <i class="material-icons">settings</i>
        <span>Settings</span>
      </a>
    </li>
  </ul>
</div>