<div class="user-info">
    <div class="image">
        <!--<img src="https://pp.userapi.com/c834401/v834401188/18f70f/x9dYrYMoCzQ.jpg" width="48" height="48" alt="User" />-->
        <%= image_tag("user.png") %>
    </div>
    <div class="info-container">
        <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">John Doe</div>
        <div class="email">john.doe@example.com</div>
        <div class="btn-group user-helper-dropdown">
            <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
            <ul class="dropdown-menu pull-right">
                <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/users/sign_out" data-method="delete"><i class="material-icons">input</i>Sign Out</a></li>
            </ul>
        </div>
    </div>
</div>