<font color='white'>
  <h1>Welcome to Nicher+r!</h1>
  <a href='dbadmin' style="color: #FF0000;">Goto base admin panel</a>
  <br><br>
  <p>Find the template in app/views/home/index.html.erb</p>
</font>
