.settings {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.btn-social {
  width: 180px;
  margin-bottom: 8px;
  margin-left: 8px;
}

.span-social {
  font-size: 15px;
  vertical-align: middle;
}
