.avatar-center {
  display: flex;
  justify-content: center;
}

.form-content-center {
  margin-top: 3px;
  margin-bottom: 3px;
  display: flex;
  justify-content: center;
}

.span-file-input {
  display: none;
}

.profile-info {
  h3 {
    display: flex;
    margin-top: 0px;

    span {
      flex: 1;
    }
  }
}

.profile-header {
  display: flex;
  justify-content: space-between;
}
