.avatar-center {
  display: flex;
  justify-content: center;
}

.form-content-center {
  margin-top: 3px;
  display: flex;
  justify-content: center;
}

.figure-avatar {
  width: 250px;
  height: 300px;
}

.avatar {
  width: 250px;
  height: 250px;
}

.span-file-input {
  display: none;
}

