doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    = csrf_meta_tags
    = csp_meta_tag
    title NICHER+R
    /! Favicon
    link href="favicon.ico" rel="icon" type="image/x-icon" /
    /! Google Fonts
    /! <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css"
    /! <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons', media: 'all', 'data-turbolinks-track': 'reload'
  body.theme-blue
    /! Overlay For Sidebars
    .overlay
    /! #END# Overlay For Sidebars
    /! Search Bar
    - if @current_user
	    .search-bar
	      .search-icon
	        i.material-icons search
	      input placeholder=("START TYPING...") type="text" /
	      .close-search
	        i.material-icons close
	    /! #END# Search Bar
	    /! Top Bar
	    = render partial: "shared/navbar"
	    /! #Top Bar
	    section
	      /! Left Sidebar
	      aside#leftsidebar.sidebar
	        /! User Info
	        = render partial: "shared/user_info"
	        /! #User Info
	        /! Menu
	        = render partial: "shared/menu"
	        /! #Menu
	        /! Footer
	        = render partial: "shared/footer"
	        /! #Footer
	      /! #END# Left Sidebar
    section.content
      .container-fluid
        .block-header
          h2 PAGE
        = yield

