<html>
  <head>
    <style>
     body {
      background-image: url(http://www.iperca.org/wp-content/uploads/2016/02/under-construction-dark-o-1024x576.jpg); /* Путь к фоновому изображению */
      background-color: #000000; /* Цвет фона */
      background-repeat: no-repeat;
      background-position: top;
     }
    </style>
    <title></title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
